# Sustainability Anlysis

# 1 Configuration

In [15]:
import os
import pandas as pd
import PyPDF2
import string
import unicodedata
from tqdm import tqdm
from scipy.stats import spearmanr
from scipy.stats import kruskal
import statsmodels.api as sm

# 2 Convert Sustainability Reports to Text Files

In [38]:
def report_to_text(report):
    """Create a text string of pdf-file content"""
    pdfFileObj = open(f"Reports/{report}.pdf", "rb")
    pdfReader = PyPDF2.PdfReader(pdfFileObj)
    no_pages = len(pdfReader.pages)

    report_text = ""
    for i in range(0,no_pages):
        pageObj = pdfReader.pages[i]
        report_text += pageObj.extract_text()
    
    return report_text

In [39]:
file_names = os.listdir("Reports")
report_file_names = [f[:-4] for f in file_names if f[-4:] == ".pdf"]

for report in tqdm(report_file_names):
    report_text = report_to_text(report)
    print(report)
    f = open(f"Reports_text/{report}.txt", "a")
    f.write(report_text)
    f.close()

  0%|          | 0/159 [00:00<?, ?it/s]

TRADERA 2021

FileNotFoundError: [Errno 2] No such file or directory: 'Reports_text/TRADERA 2021.txt'

# 3 Create Sustainability Report Table

In [41]:
# Create an empty table
report_table = pd.DataFrame(columns=["report_name", "content"])
# List text files in directory
file_names = os.listdir("reports_text")
text_file_names = [f[:-4] for f in file_names if f[-4:] == ".txt"]
# Append report name and report text for each report
for text_file_name in text_file_names:
    # Read text from report text file
    text_file = open(f"reports_text/{text_file_name}.txt", "r")
    content = text_file.read()
    content = (content
               .replace("\n", " ").replace("\r", " ").replace("\t", " ")
               .replace(",", "").replace(".", "").replace(":", "")
               .replace(";", "").replace("-", " ").replace("|", " ")
               .replace("(", "").replace(")", "").replace("?", "")
               .replace("!", "").replace("\'", "").replace('\"', ""))
    # print(content)
    text_file.close()    
    # Append report name and text to table
    report_row = pd.DataFrame([[text_file_name [:-5], content]], columns=["report_name", "content"])
    report_table = pd.concat([report_table, report_row],  axis=0, ignore_index=True)
# Save table as csv file
report_table.to_csv("reports.csv", index=False)

In [42]:
report_table.head()

       report_name                                            content
0          TRADERA  Climate Impact Report 2021 This is Traderas th...
1         SWEDBANK    1     SUSTAINABILITY POLICY     Adopted by  ...
2              HTC  ESG Repo rt  2022Environment Social Governance...
3          FISKARS  Sustainability Report 2022Contents Message fro...
4  KJELL & COMPANY             Kjell & Company   ESG impacts throu...

# 4 Read Loughran-McDonald MasterD ictionary

In [3]:
master_dictionary = pd.read_csv("Loughran-McDonald_MasterDictionary_1993-2021.csv")

In [110]:
postive_words = master_dictionary[master_dictionary.Positive != 0]["Word"].to_list()
postive_words[:20]

['ABLE',
 'ABUNDANCE',
 'ABUNDANT',
 'ACCLAIMED',
 'ACCOMPLISH',
 'ACCOMPLISHED',
 'ACCOMPLISHES',
 'ACCOMPLISHING',
 'ACCOMPLISHMENT',
 'ACCOMPLISHMENTS',
 'ACHIEVE',
 'ACHIEVED',
 'ACHIEVEMENT',
 'ACHIEVEMENTS',
 'ACHIEVES',
 'ACHIEVING',
 'ADEQUATELY',
 'ADVANCEMENT',
 'ADVANCEMENTS',
 'ADVANCES']

In [111]:
negative_words = master_dictionary[master_dictionary.Negative != 0]["Word"].to_list()
negative_words[:20]

['ABANDON',
 'ABANDONED',
 'ABANDONING',
 'ABANDONMENT',
 'ABANDONMENTS',
 'ABANDONS',
 'ABDICATED',
 'ABDICATES',
 'ABDICATING',
 'ABDICATION',
 'ABDICATIONS',
 'ABERRANT',
 'ABERRATION',
 'ABERRATIONAL',
 'ABERRATIONS',
 'ABETTING',
 'ABNORMAL',
 'ABNORMALITIES',
 'ABNORMALITY',
 'ABNORMALLY']

# 5 Count Words in Reports

In [15]:
report_table = pd.read_csv("reports.csv")
report_table_count = report_table.copy()

In [120]:
def count_total_words(text):
    """Counts the total number of words in parameter string named text"""
    return sum([i.strip(string.punctuation).isalpha() for i in text.split()])

In [121]:
def count_words_in_text_from_list(text, word_list):
    """Counts the number of words in word_list in text"""
    # Initialize an empty list to store the word counts
    word_counts = {}
    text = text.upper()

    # Iterate through each word in the text
    for word in text.split():
        # Check if the word exists in the dictionary
        if word in word_counts:
            # Increment the count for the existing word
            word_counts[word] += 1
        else:
            # Add the word to the dictionary with a count of 1
            if word in word_list:
                word_counts[word] = 1
        
    return word_counts

In [122]:
report_table_count["word_count"] = report_table_count.content.map(count_total_words)
report_table_count["negative_word_count"] = report_table_count.content.map(lambda content: count_words_in_text_from_list(content, negative_words))
report_table_count["positive_word_count"] = report_table_count.content.map(lambda content: count_words_in_text_from_list(content, postive_words))
report_table_count["total_negative_word_count"] = report_table_count["negative_word_count"].map(lambda d: sum(d.values()))
report_table_count["total_positive_word_count"] = report_table_count["positive_word_count"].map(lambda d: sum(d.values()))

In [123]:
report_table_count = report_table_count.drop(columns="content")

In [124]:
report_table_count.to_csv("report_table_count.csv", index=False)

In [125]:
report_table_count.head()

,report_name,word_count,negative_word_count,positive_word_count,total_negative_word_count,total_positive_word_count
0,TRADERA,3888,"{'SLOW': 1, 'OVERESTIMATE': 1, 'UNDERESTIMATE'...","{'IMPROVED': 5, 'ABLE': 1, 'GREATER': 1, 'OPPO...",10,18
1,SWEDBANK,2402,"{'CORRUPTION': 2, 'CRUCIAL': 1, 'INFRINGING': ...","{'EMPOWERS': 1, 'BETTER': 5, 'POSITIVE': 1, 'O...",12,39
2,HTC,64382,"{'CHALLENGES': 12, 'CONFRONT': 1, 'CHALLENGE':...","{'ACHIEVEMENTS': 13, 'PROGRESS': 19, 'ASSURED'...",834,1149
3,FISKARS,29018,"{'AGAINST': 17, 'CATASTROPHE': 1, 'CONDEMNED':...","{'PROGRESS': 20, 'LEADING': 4, 'POSITIVE': 18,...",373,444
4,KJELL & COMPANY,1337,"{'CORRUPTION': 8, 'CONFLICT': 2, 'CRUCIAL': 2,...","{'LEADING': 1, 'SATISFACTION': 1, 'INTEGRITY':...",22,21

In [22]:
print(report_table_count.negative_word_count.map(lambda d: f"{max(d, key=d.get)}: {d[max(d, key=d.get)]}"))
print(report_table_count.positive_word_count.map(lambda d: f"{max(d, key=d.get)}: {d[max(d, key=d.get)]}"))
print(report_table_count[report_table_count.report_name == "IKEA"].negative_word_count.map(lambda d: f"{max(d, key=d.get)}: {d[max(d, key=d.get)]}"))
print(report_table_count[report_table_count.report_name == "IKEA"].positive_word_count.map(lambda d: f"{max(d, key=d.get)}: {d[max(d, key=d.get)]}"))

0          MISTAKE: 2
1       CORRUPTION: 2
2       HAZARDOUS: 39
3       OMISSIONS: 25
4       CORRUPTION: 8
            ...
153    CORRUPTION: 22
154    CHALLENGES: 38
155     ACCIDENTS: 40
156      INCIDENT: 40
157       NEGATIVE: 9
Name: negative_word_count, Length: 158, dtype: object
0            IMPROVED: 5
1              BETTER: 5
2            IMPROVE: 67
3      OPPORTUNITIES: 31
4           INTEGRITY: 3
             ...
153    OPPORTUNITIES: 22
154    OPPORTUNITIES: 79
155             GOOD: 42
156    OPPORTUNITIES: 57
157             ABLE: 39
Name: positive_word_count, Length: 158, dtype: object
118    CHALLENGES: 22
Name: negative_word_count, dtype: object
118    POSITIVE: 144
Name: positive_word_count, dtype: object

In [23]:
from collections import Counter

# Initialize counters for both negative and positive words
total_negative_words = Counter()
total_positive_words = Counter()

# Iterate through each row in the DataFrame and update the counters
for index, row in report_table_count.iterrows():
    total_negative_words.update(row['negative_word_count'])
    total_positive_words.update(row['positive_word_count'])

# Find the 50 most common negative and positive words
top_50_negative_words = total_negative_words.most_common(50)
top_50_positive_words = total_positive_words.most_common(50)

# Print the results
print("Top 50 Negative Words:")
for word, count in top_50_negative_words:
    print(f"{word}: {count}")

print("\nTop 50 Positive Words:")
for word, count in top_50_positive_words:
    print(f"{word}: {count}")

Top 50 Negative Words:
CORRUPTION: 1555
CHALLENGES: 1355
AGAINST: 1070
CRITICAL: 935
NEGATIVE: 831
INCIDENTS: 831
ACCIDENTS: 747
PREVENTION: 731
HAZARDOUS: 649
CHALLENGE: 640
LOSS: 607
CONCERNS: 597
FORCED: 561
FORCE: 498
VIOLATIONS: 483
CONFLICT: 478
INJURIES: 459
QUESTIONS: 420
CRISIS: 405
HARASSMENT: 402
INCIDENT: 400
BRIBERY: 381
SERIOUS: 375
ACCIDENT: 370
LOST: 362
INJURY: 315
CLAIMS: 305
STRESS: 304
CRUCIAL: 302
DAMAGE: 280
BREACHES: 279
CHALLENGING: 271
LOSSES: 271
PREVENTING: 271
LACK: 261
PROBLEMS: 261
COMPLAINTS: 260
VULNERABLE: 256
INVESTIGATION: 254
CONFLICTS: 245
DIFFICULT: 242
CONCERN: 240
HARMFUL: 240
DISCLOSE: 239
CLOSED: 231
ADVERSE: 228
HARM: 220
GRIEVANCE: 217
DISCLOSED: 214
ABSENCE: 210

Top 50 Positive Words:
PROGRESS: 2878
OPPORTUNITIES: 2801
IMPROVE: 2279
BETTER: 2269
EFFICIENCY: 2102
GOOD: 2012
LEADERSHIP: 1758
ACHIEVE: 1740
BEST: 1645
POSITIVE: 1607
COLLABORATION: 1587
INNOVATION: 1499
TRANSPARENCY: 1372
EFFICIENT: 1236
IMPROVEMENT: 1216
OPPORTUNITY: 1117
LEADING: 1091
ABLE: 1085
ENABLE: 1017
IMPROVING: 990
ACHIEVED: 921
HIGHEST: 892
INTEGRITY: 851
STRONG: 825
INNOVATIVE: 766
EFFECTIVE: 761
GREATER: 715
ENHANCE: 651
STRENGTHEN: 642
IMPROVED: 634
ACHIEVING: 625
GREAT: 619
FRIENDLY: 618
IMPROVEMENTS: 613
ENABLING: 606
SATISFACTION: 604
ENABLES: 590
SUCCESS: 563
BENEFIT: 513
ALLIANCE: 492
ADVANCING: 379
EMPOWER: 377
COLLABORATE: 365
STRENGTHENING: 345
EASY: 340
ACHIEVEMENTS: 324
SUCCESSFUL: 317
ATTRACTIVE: 314
ENHANCING: 309
ENHANCED: 296

# 6 Add Ranking

In [46]:
report_table_count = pd.read_csv("report_table_count.csv")
report_table_count["report_name"] = report_table_count.report_name.map(lambda r:  unicodedata.normalize("NFC", r))
pd.read_csv("report_table_count.csv")

,report_name,word_count,negative_word_count,positive_word_count,total_negative_word_count,total_positive_word_count
0,TRADERA,3888,"{'SLOW': 1, 'OVERESTIMATE': 1, 'UNDERESTIMATE'...","{'IMPROVED': 5, 'ABLE': 1, 'GREATER': 1, 'OPPO...",10,18
1,SWEDBANK,2402,"{'CORRUPTION': 2, 'CRUCIAL': 1, 'INFRINGING': ...","{'EMPOWERS': 1, 'BETTER': 5, 'POSITIVE': 1, 'O...",12,39
2,HTC,64382,"{'CHALLENGES': 12, 'CONFRONT': 1, 'CHALLENGE':...","{'ACHIEVEMENTS': 13, 'PROGRESS': 19, 'ASSURED'...",834,1149
3,FISKARS,29018,"{'AGAINST': 17, 'CATASTROPHE': 1, 'CONDEMNED':...","{'PROGRESS': 20, 'LEADING': 4, 'POSITIVE': 18,...",373,444
4,KJELL & COMPANY,1337,"{'CORRUPTION': 8, 'CONFLICT': 2, 'CRUCIAL': 2,...","{'LEADING': 1, 'SATISFACTION': 1, 'INTEGRITY':...",22,21
...,...,...,...,...,...,...
153,SANTANDER CONSUMER BANK,15397,"{'FORCE': 6, 'CHALLENGES': 1, 'QUESTION': 1, '...","{'PROGRESS': 11, 'OPPORTUNITIES': 22, 'GOOD': ...",224,215
154,SONY,112284,"{'CHALLENGES': 38, 'CRUCIAL': 4, 'DISASTER': 2...","{'CREATIVITY': 26, 'BEST': 26, 'INTEGRITY': 9,...",1011,1535
155,TULIP,35058,"{'QUESTIONS': 2, 'CHALLENGES': 9, 'SLOW': 1, '...","{'TRANSPARENCY': 9, 'PROGRESS': 11, 'ACHIEVEME...",364,410
156,UBER,40707,"{'FORCE': 7, 'CRITICAL': 34, 'INCIDENT': 40, '...","{'BEST': 32, 'PROFITABILITY': 1, 'ADVANTAGE': ...",471,720
157,NATURKOMPANIET,24052,"{'INSTABILITY': 3, 'SERIOUS': 2, 'DOUBTS': 1, ...","{'EXCELLENCE': 1, 'GOOD': 14, 'BETTER': 13, 'O...",250,238

In [47]:
ranking = pd.read_csv("sample.csv")
ranking.columns = ['ranking', 'Company', 'Koncern', 'Language', 'Type', 'Year of Report']
ranking = ranking[['ranking', 'Company']]
ranking["Company"] = ranking.Company.map(lambda company: company.upper())

In [48]:
report_table_count_ranking = report_table_count.merge(ranking, left_on="report_name", right_on="Company", how="inner")
report_table_count_ranking.drop(columns="Company", inplace=True)
report_table_count_ranking = report_table_count_ranking.sort_values("ranking").reset_index(drop=True)
report_table_count_ranking.to_csv("report_table_count_ranking.csv", index=False)

report_table_count_ranking

# 7 Add Industries

In [49]:
report_table_count = pd.read_csv("report_table_count.csv")
report_table_count["report_name"] = report_table_count.report_name.map(lambda r:  unicodedata.normalize("NFC", r))
report_table_industries = pd.read_csv("report_table_industries.csv")
report_table_industries["Company"] = report_table_industries["Company"].map(lambda name: unicodedata.normalize("NFC", str(name)).upper().strip())

In [50]:
# Set the columns names to be consistent for the merge
report_table_industries.columns = ['Company', 'industry']
# Merge the two tables on the 'Company' column, using an inner join
merged_table = report_table_count.merge(report_table_industries, left_on="report_name", right_on="Company", how="inner")
# Drop the redundant 'Company' column from the merged table
merged_table.drop(columns="Company", inplace=True)
# Sort, reset index, and save the new table to CSV
merged_table = merged_table.sort_values(by=["industry", "report_name"]).reset_index(drop=True)
merged_table.to_csv("report_table_count_industries.csv", index=False)

In [51]:
# Load the industries table
report_table_industries = pd.read_csv("report_table_industries.csv")
# Load the count table
report_table_count_industries = pd.read_csv("report_table_count_industries.csv")

def find_missing_companies(industries_df, count_df, industries_column, count_column):
    # Convert both columns to upper case to ensure matching is case-insensitive
    industries_df[industries_column] = industries_df[industries_column].str.upper()
    count_df[count_column] = count_df[count_column].str.upper()
    # Find companies in industries_df that are not in count_df
    missing_companies = set(industries_df[industries_column]) - set(count_df[count_column])
    
    return missing_companies


missing_companies = find_missing_companies(report_table_industries, report_table_count_industries, 'Company', 'report_name')
# Print or return the missing companies
print(missing_companies)

set()

In [52]:
report_table_count_ranking = pd.read_csv("report_table_count_ranking.csv")
report_table_count_ranking["report_name"] = report_table_count_ranking.report_name.map(lambda r:  unicodedata.normalize("NFC", r))
report_table_all_industries = pd.read_csv("report_table_all_industries.csv")
report_table_all_industries["Company"] = report_table_all_industries["Company"].map(lambda name: unicodedata.normalize("NFC", str(name)).upper().strip())

In [53]:
# Set the columns names to be consistent for the merge
report_table_all_industries.columns = ['Company', 'industry']
# Merge the two tables on the 'Company' column, using an inner join
merged_table = report_table_count_ranking.merge(report_table_all_industries, left_on="report_name", right_on="Company", how="inner")
# Drop the redundant 'Company' column from the merged table
merged_table.drop(columns="Company", inplace=True)
# Sort, reset index, and save the new table to CSV
merged_table = merged_table.sort_values(by=["industry", "report_name"]).reset_index(drop=True)
merged_table.to_csv("report_table_count_all_industries.csv", index=False)

# Add Financial Metrics

In [37]:
report_table_count_all_industries = pd.read_csv("report_table_count_all_industries.csv")
report_table_count_all_industries["report_name"] = report_table_count_all_industries.report_name.map(lambda r:  unicodedata.normalize("NFC", r))
report_table_financial_metrics = pd.read_csv("report_table_financial_metrics.csv")
report_table_financial_metrics["report_name"] = report_table_financial_metrics["report_name"].map(lambda name: unicodedata.normalize("NFC", str(name)).upper().strip())

In [38]:
# Set the columns names to be consistent for the merge
report_table_financial_metrics.columns = ['report_name', 'total_assets', 'roa', 'publicly_traded']
# Merge the two tables on the 'report_name' column, using an inner join
merged_table = report_table_count_all_industries.merge(report_table_financial_metrics, left_on="report_name", right_on="report_name", how="inner")
# Sort, reset index, and save the new table to CSV
merged_table = merged_table.sort_values(by=["industry", "report_name"]).reset_index(drop=True)
merged_table.to_csv("report_table_count_all_control_variables.csv", index=False)

In [2]:
allcv = pd.read_csv('report_table_count_all_control_variables.csv')

In [6]:
allcv['roa'] = allcv['roa'].astype(str).str.replace(',', '.').astype(float)

In [7]:
allcv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   report_name                156 non-null    object
 1   word_count                 156 non-null    int64
 2   negative_word_count        156 non-null    object
 3   positive_word_count        156 non-null    object
 4   total_negative_word_count  156 non-null    int64
 5   total_positive_word_count  156 non-null    int64
 6   ranking                    156 non-null    int64
 7   industry                   156 non-null    object
 8   total_assets               156 non-null    int64
 9   roa                        156 non-null    float64
 10  publicly_traded            156 non-null    int64
dtypes: float64(1), int64(6), object(4)
memory usage: 13.5+ KB

In [8]:
allcv.head()

,report_name,word_count,negative_word_count,positive_word_count,total_negative_word_count,total_positive_word_count,ranking,industry,total_assets,roa,publicly_traded
0,BRA,17639,"{'STRINGENT': 4, 'DIFFICULT': 1, 'HARSH': 1, '...","{'STRENGTHEN': 7, 'HIGHEST': 17, 'OPPORTUNITIE...",156,340,356,Airlines,1512,-0.07,0
1,BRITISH AIRWAYS,5882,"{'CHALLENGE': 2, 'AGAINST': 1, 'CRITICAL': 1, ...","{'INCREDIBLE': 1, 'GREATEST': 2, 'ACHIEVEMENTS...",21,114,388,Airlines,42842,0.12,0
2,LUFTHANSA,12702,"{'CHALLENGING': 2, 'DISADVANTAGED': 1, 'FORCE'...","{'SUCCESSFUL': 2, 'PLEASED': 1, 'LEADING': 5, ...",81,180,349,Airlines,507770,0.04,1
3,RYANAIR,16813,"{'DEVASTATED': 1, 'DISRUPTED': 1, 'SUFFERED': ...","{'SATISFACTION': 7, 'ADVANTAGE': 5, 'GAINS': 1...",148,203,416,Airlines,173111,0.13,1
4,BMW,7038,"{'AGAINST': 3, 'DEVIATIONS': 1, 'FORCE': 1, 'C...","{'TRANSPARENCY': 26, 'EFFECTIVE': 22, 'SUCCESS...",30,139,227,Automotives,2858751,0.04,1

# 9 Calculate Statistics

In [14]:
# Regression with all control variables

In [30]:
# Load the CSV file
df = pd.read_csv('report_table_count_all_control_variables.csv')

In [31]:
# Calculate 'tone'
df['tone'] = (df['total_positive_word_count'] - df['total_negative_word_count']) / (df['total_positive_word_count'] + df['total_negative_word_count'])

In [32]:
# Convert 'industry' to dummy variables
industry_dummies = pd.get_dummies(df['industry'], prefix='industry', drop_first=True)

# Convert boolean dummy variables to int
for column in industry_dummies.columns:
    industry_dummies[column] = industry_dummies[column].astype(int)

df = pd.concat([df, industry_dummies], axis=1)

In [33]:
# Convert 'roa' to string, replace commas with periods, then convert to float
df['roa'] = df['roa'].astype(str).str.replace(',', '.').astype(float)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 41 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   report_name                             156 non-null    object
 1   word_count                              156 non-null    int64
 2   negative_word_count                     156 non-null    object
 3   positive_word_count                     156 non-null    object
 4   total_negative_word_count               156 non-null    int64
 5   total_positive_word_count               156 non-null    int64
 6   ranking                                 156 non-null    int64
 7   industry                                156 non-null    object
 8   total_assets                            156 non-null    int64
 9   roa                                     156 non-null    float64
 10  publicly_traded                         156 non-null    int64
 11  tone                                    156 non-null    float64
 12  industry_Automotives                    156 non-null    int64
 13  industry_Banks                          156 non-null    int64
 14  industry_Beauty                         156 non-null    int64
 15  industry_Beverage                       156 non-null    int64
 16  industry_Clothing & Fashion Brands      156 non-null    int64
 17  industry_Clothing & Fashion Stores      156 non-null    int64
 18  industry_Consumer Goods                 156 non-null    int64
 19  industry_Digital                        156 non-null    int64
 20  industry_E-commerce                     156 non-null    int64
 21  industry_Electricity & Heating          156 non-null    int64
 22  industry_Feul                           156 non-null    int64
 23  industry_Food                           156 non-null    int64
 24  industry_Furniture                      156 non-null    int64
 25  industry_Gambling                       156 non-null    int64
 26  industry_Grocery Stores                 156 non-null    int64
 27  industry_Healthcare Providers           156 non-null    int64
 28  industry_Hobby & Leisure                156 non-null    int64
 29  industry_Home Appliances & Electronics  156 non-null    int64
 30  industry_Hotels                         156 non-null    int64
 31  industry_Insurance                      156 non-null    int64
 32  industry_Parcel & Logistics             156 non-null    int64
 33  industry_Pensions                       156 non-null    int64
 34  industry_Real Estate                    156 non-null    int64
 35  industry_Restaurants                    156 non-null    int64
 36  industry_Telecommunications             156 non-null    int64
 37  industry_Tobacco                        156 non-null    int64
 38  industry_Transport                      156 non-null    int64
 39  industry_Travel & Tourism               156 non-null    int64
 40  industry_Vehicle Inspection             156 non-null    int64
dtypes: float64(2), int64(35), object(4)
memory usage: 50.1+ KB

In [36]:
# Define the dependent variable
y = df['tone']

# Define the independent variables
X = df[['ranking', 'total_assets', 'roa', 'publicly_traded'] + list(industry_dummies.columns)]

# Add a constant to the model (intercept)
X = sm.add_constant(X)

# Initialize and fit the OLS model
model = sm.OLS(y, X).fit()

# Print the summary of the model
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   tone   R-squared:                       0.301
Model:                            OLS   Adj. R-squared:                  0.112
Method:                 Least Squares   F-statistic:                     1.591
Date:                Fri, 22 Mar 2024   Prob (F-statistic):             0.0366
Time:                        20:15:22   Log-Likelihood:                 48.617
No. Observations:                 156   AIC:                            -29.23
Df Residuals:                     122   BIC:                             74.46
Df Model:                          33
Covariance Type:            nonrobust
==========================================================================================================
                                             coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------------
const                                      0.4165      0.118      3.532      0.001       0.183       0.650
ranking                                   -0.0002      0.000     -0.964      0.337      -0.000       0.000
total_assets                           -3.624e-09    3.8e-09     -0.954      0.342   -1.11e-08    3.89e-09
roa                                        0.1634      0.117      1.394      0.166      -0.069       0.396
publicly_traded                            0.0650      0.039      1.672      0.097      -0.012       0.142
industry_Automotives                      -0.1789      0.124     -1.448      0.150      -0.423       0.066
industry_Banks                            -0.1712      0.121     -1.414      0.160      -0.411       0.068
industry_Beauty                           -0.0823      0.147     -0.560      0.576      -0.373       0.209
industry_Beverage                         -0.1230      0.126     -0.977      0.330      -0.372       0.126
industry_Clothing & Fashion Brands        -0.2311      0.123     -1.882      0.062      -0.474       0.012
industry_Clothing & Fashion Stores        -0.2357      0.124     -1.895      0.060      -0.482       0.011
industry_Consumer Goods                   -0.0716      0.136     -0.526      0.600      -0.341       0.198
industry_Digital                          -0.1764      0.132     -1.339      0.183      -0.437       0.084
industry_E-commerce                       -0.1819      0.128     -1.422      0.158      -0.435       0.071
industry_Electricity & Heating            -0.3370      0.178     -1.891      0.061      -0.690       0.016
industry_Feul                             -0.4074      0.154     -2.642      0.009      -0.713      -0.102
industry_Food                             -0.1369      0.119     -1.152      0.252      -0.372       0.098
industry_Furniture                        -0.1892      0.146     -1.295      0.198      -0.478       0.100
industry_Gambling                         -0.0305      0.225     -0.136      0.892      -0.476       0.415
industry_Grocery Stores                   -0.5020      0.184     -2.732      0.007      -0.866      -0.138
industry_Healthcare Providers             -0.0035      0.181     -0.019      0.985      -0.362       0.355
industry_Hobby & Leisure                  -0.3236      0.129     -2.508      0.013      -0.579      -0.068
industry_Home Appliances & Electronics    -0.2256      0.116     -1.945      0.054      -0.455       0.004
industry_Hotels                            0.1458      0.224      0.651      0.516      -0.297       0.589
industry_Insurance                        -0.1598      0.160     -0.996      0.321      -0.477       0.158
industry_Parcel & Logistics               -0.3762      0.143     -2.631      0.010      -0.659      -0.093
industry_Pensions                         -0.6805      0.226     -3.009      0.003      -1.128      -0.233
industry_Real Estate                      -0.1650      0.225     -0.733      0.465      -0.610       0.280
industry_Restaurants                       0.0654      0.147      0.446      0.657      -0.225       0.356
industry_Telecommunications               -0.2298      0.228     -1.008      0.315      -0.681       0.221
industry_Tobacco                          -0.4382      0.227     -1.928      0.056      -0.888       0.012
industry_Transport                        -0.2249      0.123     -1.835      0.069      -0.467       0.018
industry_Travel & Tourism                 -0.1896      0.127     -1.489      0.139      -0.442       0.062
industry_Vehicle Inspection               -0.4447      0.227     -1.963      0.052      -0.893       0.004
==============================================================================
Omnibus:                        1.826   Durbin-Watson:                   2.298
Prob(Omnibus):                  0.401   Jarque-Bera (JB):                1.418
Skew:                           0.127   Prob(JB):                        0.492
Kurtosis:                       3.392   Cond. No.                     2.16e+08
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.16e+08. This might indicate that there are
strong multicollinearity or other numerical problems.

In [15]:
# Other regressions

In [38]:
# Load the CSV file
all_control = pd.read_csv('report_table_count_all_control_variables.csv')

# Calculate 'tone'
all_control['tone'] = (all_control['total_positive_word_count'] - all_control['total_negative_word_count']) / (all_control['total_positive_word_count'] + all_control['total_negative_word_count'])

# Convert 'industry' to dummy variables
industry_dummies = pd.get_dummies(all_control['industry'], prefix='industry', drop_first=True)

# Convert boolean dummy variables to int
for column in industry_dummies.columns:
    industry_dummies[column] = industry_dummies[column].astype(int)

all_control = pd.concat([all_control, industry_dummies], axis=1)

# Convert 'roa' to string, replace commas with periods, then convert to float
all_control['roa'] = all_control['roa'].astype(str).str.replace(',', '.').astype(float)

In [39]:
# Define the dependent variable
y = all_control['tone']

# Define the independent variables
X = all_control[['total_assets', 'roa', 'publicly_traded'] + list(industry_dummies.columns)]

# Add a constant to the model (intercept)
X = sm.add_constant(X)

# Initialize and fit the OLS model
model = sm.OLS(y, X).fit()

# Print the summary of the model
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   tone   R-squared:                       0.296
Model:                            OLS   Adj. R-squared:                  0.112
Method:                 Least Squares   F-statistic:                     1.612
Date:                Fri, 22 Mar 2024   Prob (F-statistic):             0.0338
Time:                        21:21:50   Log-Likelihood:                 48.025
No. Observations:                 156   AIC:                            -30.05
Df Residuals:                     123   BIC:                             70.60
Df Model:                          32
Covariance Type:            nonrobust
==========================================================================================================
                                             coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------------
const                                      0.3596      0.102      3.523      0.001       0.158       0.562
total_assets                           -4.157e-09   3.75e-09     -1.107      0.270   -1.16e-08    3.28e-09
roa                                        0.1508      0.117      1.295      0.198      -0.080       0.381
publicly_traded                            0.0637      0.039      1.640      0.104      -0.013       0.141
industry_Automotives                      -0.1535      0.121     -1.272      0.206      -0.392       0.085
industry_Banks                            -0.1524      0.119     -1.276      0.204      -0.389       0.084
industry_Beauty                           -0.0498      0.143     -0.349      0.728      -0.333       0.233
industry_Beverage                         -0.0966      0.123     -0.787      0.433      -0.340       0.146
industry_Clothing & Fashion Brands        -0.2104      0.121     -1.741      0.084      -0.450       0.029
industry_Clothing & Fashion Stores        -0.2094      0.121     -1.726      0.087      -0.449       0.031
industry_Consumer Goods                   -0.0638      0.136     -0.470      0.639      -0.332       0.205
industry_Digital                          -0.1386      0.126     -1.102      0.272      -0.387       0.110
industry_E-commerce                       -0.1552      0.125     -1.242      0.216      -0.402       0.092
industry_Electricity & Heating            -0.3029      0.175     -1.735      0.085      -0.649       0.043
industry_Feul                             -0.3919      0.153     -2.556      0.012      -0.695      -0.088
industry_Food                             -0.1093      0.115     -0.948      0.345      -0.338       0.119
industry_Furniture                        -0.1576      0.142     -1.108      0.270      -0.439       0.124
industry_Gambling                         -0.0300      0.225     -0.133      0.894      -0.476       0.416
industry_Grocery Stores                   -0.4467      0.175     -2.559      0.012      -0.792      -0.101
industry_Healthcare Providers              0.0218      0.179      0.122      0.903      -0.332       0.376
industry_Hobby & Leisure                  -0.2952      0.126     -2.351      0.020      -0.544      -0.047
industry_Home Appliances & Electronics    -0.1996      0.113     -1.770      0.079      -0.423       0.024
industry_Hotels                            0.1939      0.218      0.889      0.376      -0.238       0.626
industry_Insurance                        -0.1173      0.154     -0.761      0.448      -0.423       0.188
industry_Parcel & Logistics               -0.3575      0.142     -2.524      0.013      -0.638      -0.077
industry_Pensions                         -0.6579      0.225     -2.925      0.004      -1.103      -0.213
industry_Real Estate                      -0.1662      0.225     -0.739      0.461      -0.611       0.279
industry_Restaurants                       0.1013      0.142      0.713      0.477      -0.180       0.382
industry_Telecommunications               -0.1949      0.225     -0.866      0.388      -0.640       0.250
industry_Tobacco                          -0.4360      0.227     -1.919      0.057      -0.886       0.014
industry_Transport                        -0.2060      0.121     -1.704      0.091      -0.445       0.033
industry_Travel & Tourism                 -0.1707      0.126     -1.357      0.177      -0.420       0.078
industry_Vehicle Inspection               -0.4278      0.226     -1.895      0.060      -0.875       0.019
==============================================================================
Omnibus:                        1.876   Durbin-Watson:                   2.312
Prob(Omnibus):                  0.391   Jarque-Bera (JB):                1.537
Skew:                           0.081   Prob(JB):                        0.464
Kurtosis:                       3.459   Cond. No.                     2.09e+08
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.09e+08. This might indicate that there are
strong multicollinearity or other numerical problems.

In [54]:
df = pd.read_csv("report_table_count_ranking.csv")
df['total_positive_word_count'] = pd.to_numeric(df['total_positive_word_count'], errors='coerce')
df['total_negative_word_count'] = pd.to_numeric(df['total_negative_word_count'], errors='coerce')

In [55]:
# Calculate 'tone'
df['tone'] = (df['total_positive_word_count'] - df['total_negative_word_count']) / (df['total_positive_word_count'] + df['total_negative_word_count'])

In [56]:
# Assign rankings based on row order
df['rank'] = df.index + 1
# Rank the 'tone' column to get 'tone_rank'
df['tone_rank'] = df['tone'].rank(ascending=False, method='min')
# Select the 'report_name', 'rank', 'tone', and 'tone_rank' columns for the new CSV
df_new = df[['report_name', 'rank', 'tone', 'tone_rank']]
# Save to a new CSV file named "report_table_tone_rank.csv"
df_new.to_csv("report_table_tone_rank.csv", index=False)

In [57]:
# Calculate Spearman's correlation
spearman_corr, p_value = spearmanr(df['rank'], df['tone_rank'])
# Output the results
print(f"Spearman's correlation coefficient: {spearman_corr}")
print(f"p-value: {p_value}")

Spearman's correlation coefficient: 0.04155117911401642
p-value: 0.6042022231512534

In [58]:
df = pd.read_csv("report_table_count_industries.csv")
df['total_positive_word_count'] = pd.to_numeric(df['total_positive_word_count'], errors='coerce')
df['total_negative_word_count'] = pd.to_numeric(df['total_negative_word_count'], errors='coerce')

In [59]:
# Calculate 'tone'
df['tone'] = (df['total_positive_word_count'] - df['total_negative_word_count']) / (df['total_positive_word_count'] + df['total_negative_word_count'])

In [60]:
# Group the data by industry and collect tones into lists
tones_by_industry = df.groupby('industry')['tone'].apply(list)
# Prepare the arguments for the Kruskal-Wallis test
args = [group for group in tones_by_industry]
# Perform the Kruskal-Wallis test
stat, p_value = kruskal(*args)
# Output the results
print(f"Kruskal-Wallis test statistic: {stat}")
print(f"p-value: {p_value}")

Kruskal-Wallis test statistic: 27.615509407711862
p-value: 0.09111271506349974

In [2]:
# Load the CSV file
df = pd.read_csv('report_table_count_all_industries.csv')

# Convert 'ranking' to numeric, handling any non-numeric values as NaN
df['ranking'] = pd.to_numeric(df['ranking'], errors='coerce')

# Ensure 'total_positive_word_count' and 'total_negative_word_count' are numeric
df['total_positive_word_count'] = pd.to_numeric(df['total_positive_word_count'], errors='coerce')
df['total_negative_word_count'] = pd.to_numeric(df['total_negative_word_count'], errors='coerce')

# Calculate 'tone'
df['tone'] = (df['total_positive_word_count'] - df['total_negative_word_count']) / (df['total_positive_word_count'] + df['total_negative_word_count'])

In [5]:
# Generate dummy variables for the 'industry' column, excluding the first to avoid multicollinearity
industry_dummies = pd.get_dummies(df['industry'], drop_first=True)

# Prepare the independent variables (including industry dummies) and the dependent variable
X = pd.concat([df[['ranking']], industry_dummies], axis=1)
y = df['tone']

# Add a constant to the model (intercept)
X = sm.add_constant(X)

# Convert boolean dummy variables to int
for column in industry_dummies.columns:
    industry_dummies[column] = industry_dummies[column].astype(int)

# If you've already concatenated the dummy variables to X, convert them directly in X
for column in X.columns[2:]:  # Assuming the first two columns are 'const' and 'ranking'
    X[column] = X[column].astype(int)

# Now, X and y should be fully compatible with statsmodels
# Fit the OLS regression model again
model = sm.OLS(y, X).fit()

# Print the summary of the regression
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   tone   R-squared:                       0.267
Model:                            OLS   Adj. R-squared:                  0.094
Method:                 Least Squares   F-statistic:                     1.545
Date:                Fri, 01 Mar 2024   Prob (F-statistic):             0.0511
Time:                        02:36:42   Log-Likelihood:                 45.051
No. Observations:                 158   AIC:                            -28.10
Df Residuals:                     127   BIC:                             66.84
Df Model:                          30
Covariance Type:            nonrobust
=================================================================================================
                                    coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
const                             0.4479      0.117      3.812      0.000       0.215       0.680
ranking                          -0.0001      0.000     -0.825      0.411      -0.000       0.000
Automotives                      -0.1779      0.124     -1.430      0.155      -0.424       0.068
Banks                            -0.1836      0.121     -1.513      0.133      -0.424       0.057
Beauty                           -0.1156      0.148     -0.784      0.435      -0.408       0.176
Beverage                         -0.1276      0.127     -1.003      0.318      -0.379       0.124
Clothing & Fashion Brands        -0.2488      0.124     -2.008      0.047      -0.494      -0.004
Clothing & Fashion Stores        -0.2617      0.125     -2.092      0.038      -0.509      -0.014
Consumer Goods                   -0.0376      0.136     -0.276      0.783      -0.307       0.232
Digital                          -0.1668      0.133     -1.259      0.210      -0.429       0.095
E-commerce                       -0.2203      0.128     -1.724      0.087      -0.473       0.033
Electricity & Heating            -0.3044      0.179     -1.701      0.091      -0.659       0.050
Feul                             -0.4130      0.156     -2.653      0.009      -0.721      -0.105
Food                             -0.1328      0.118     -1.127      0.262      -0.366       0.100
Furniture                        -0.1878      0.147     -1.278      0.203      -0.478       0.103
Gambling                         -0.0825      0.227     -0.364      0.717      -0.531       0.367
Grocery Stores                   -0.5312      0.185     -2.874      0.005      -0.897      -0.165
Healthcare Providers             -0.0896      0.178     -0.502      0.616      -0.443       0.263
Hobby & Leisure                  -0.3245      0.130     -2.487      0.014      -0.583      -0.066
Home Appliances & Electronics    -0.2284      0.117     -1.949      0.053      -0.460       0.003
Hotels                           -0.0026      0.178     -0.014      0.988      -0.356       0.350
Insurance                        -0.1876      0.161     -1.165      0.246      -0.506       0.131
Parcel & Logistics               -0.3776      0.145     -2.608      0.010      -0.664      -0.091
Pensions                         -0.7013      0.228     -3.075      0.003      -1.153      -0.250
Real Estate                      -0.1396      0.227     -0.615      0.539      -0.589       0.309
Restaurants                       0.0598      0.148      0.404      0.687      -0.233       0.353
Telecommunications               -0.2009      0.230     -0.875      0.383      -0.655       0.254
Tobacco                          -0.4269      0.227     -1.881      0.062      -0.876       0.022
Transport                        -0.2472      0.124     -2.000      0.048      -0.492      -0.003
Travel & Tourism                 -0.2011      0.129     -1.561      0.121      -0.456       0.054
Vehicle Inspection               -0.4470      0.227     -1.966      0.052      -0.897       0.003
==============================================================================
Omnibus:                        1.478   Durbin-Watson:                   2.323
Prob(Omnibus):                  0.478   Jarque-Bera (JB):                1.117
Skew:                           0.023   Prob(JB):                        0.572
Kurtosis:                       3.409   Cond. No.                     8.99e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.99e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [3]:
# Generate dummy variables for the 'industry' column, excluding the first to avoid multicollinearity
industry_dummies = pd.get_dummies(df['industry'], drop_first=True)

# Prepare the independent variables (including industry dummies) and the dependent variable
X = pd.concat([df[['tone']], industry_dummies], axis=1)
y = df['ranking']

# Add a constant to the model (intercept)
X = sm.add_constant(X)

# Convert boolean dummy variables to int
for column in industry_dummies.columns:
    industry_dummies[column] = industry_dummies[column].astype(int)

# If you've already concatenated the dummy variables to X, convert them directly in X
for column in X.columns[2:]:  # Assuming the first two columns are 'const' and 'ranking'
    X[column] = X[column].astype(int)

# Now, X and y should be fully compatible with statsmodels
# Fit the OLS regression model again
model = sm.OLS(y, X).fit()

# Print the summary of the regression
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                ranking   R-squared:                       0.256
Model:                            OLS   Adj. R-squared:                  0.080
Method:                 Least Squares   F-statistic:                     1.455
Date:                Sun, 03 Mar 2024   Prob (F-statistic):             0.0792
Time:                        00:46:22   Log-Likelihood:                -955.76
No. Observations:                 158   AIC:                             1974.
Df Residuals:                     127   BIC:                             2068.
Df Model:                          30
Covariance Type:            nonrobust
=================================================================================================
                                    coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
const                           393.6715     60.544      6.502      0.000     273.865     513.478
tone                            -41.1603     49.873     -0.825      0.411    -139.850      57.529
Automotives                    -162.5175     69.172     -2.349      0.020    -299.396     -25.639
Banks                          -120.5033     68.181     -1.767      0.080    -255.420      14.414
Beauty                         -221.8448     80.984     -2.739      0.007    -382.097     -61.592
Beverage                       -175.9600     70.229     -2.506      0.013    -314.931     -36.989
Clothing & Fashion Brands      -147.7519     69.681     -2.120      0.036    -285.639      -9.865
Clothing & Fashion Stores      -186.8539     69.747     -2.679      0.008    -324.871     -48.837
Consumer Goods                  -43.1751     76.734     -0.563      0.575    -195.017     108.667
Digital                        -242.2817     72.001     -3.365      0.001    -384.760     -99.804
E-commerce                     -197.0587     70.710     -2.787      0.006    -336.981     -57.136
Electricity & Heating          -227.1273     99.996     -2.271      0.025    -425.001     -29.253
Feul                           -110.4146     89.604     -1.232      0.220    -287.725      66.896
Food                           -190.9229     64.583     -2.956      0.004    -318.722     -63.124
Furniture                      -207.1598     81.268     -2.549      0.012    -367.975     -46.344
Gambling                        -21.5480    127.924     -0.168      0.867    -274.686     231.590
Grocery Stores                 -385.1674    101.939     -3.778      0.000    -586.886    -183.448
Healthcare Providers           -199.8870     99.093     -2.017      0.046    -395.974      -3.801
Hobby & Leisure                -197.4763     73.231     -2.697      0.008    -342.387     -52.566
Home Appliances & Electronics  -175.5602     65.176     -2.694      0.008    -304.533     -46.588
Hotels                         -193.8173     99.048     -1.957      0.053    -389.815       2.180
Insurance                      -285.8156     87.672     -3.260      0.001    -459.302    -112.329
Parcel & Logistics             -135.8951     82.856     -1.640      0.103    -299.853      28.063
Pensions                       -175.3313    132.311     -1.325      0.188    -437.152      86.489
Real Estate                       1.9615    128.054      0.015      0.988    -251.434     255.357
Restaurants                    -227.8037     80.991     -2.813      0.006    -388.070     -67.538
Telecommunications             -233.3102    128.147     -1.821      0.071    -486.891      20.270
Tobacco                         -14.8342    129.625     -0.114      0.909    -271.338     241.669
Transport                      -137.9628     69.679     -1.980      0.050    -275.845      -0.081
Travel & Tourism               -136.5528     72.268     -1.890      0.061    -279.558       6.453
Vehicle Inspection             -118.1157    129.681     -0.911      0.364    -374.731     138.500
==============================================================================
Omnibus:                        5.149   Durbin-Watson:                   2.403
Prob(Omnibus):                  0.076   Jarque-Bera (JB):                3.040
Skew:                           0.120   Prob(JB):                        0.219
Kurtosis:                       2.364   Cond. No.                         37.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [3]:
# Load the CSV file
df = pd.read_csv('report_table_count_all_industries.csv')

# Convert 'ranking' to numeric, handling any non-numeric values as NaN
df['ranking'] = pd.to_numeric(df['ranking'], errors='coerce')

# Ensure 'total_positive_word_count' and 'total_negative_word_count' are numeric
df['total_positive_word_count'] = pd.to_numeric(df['total_positive_word_count'], errors='coerce')
df['total_negative_word_count'] = pd.to_numeric(df['total_negative_word_count'], errors='coerce')
df['total_negative_word_count'] = pd.to_numeric(df['word_count'], errors='coerce')

# Calculate 'tone'
df['tone_%'] = (df['total_positive_word_count'] / df['word_count'])/ - (df['total_negative_word_count'] / df['word_count'])

In [6]:
# Generate dummy variables for the 'industry' column, excluding the first to avoid multicollinearity
industry_dummies = pd.get_dummies(df['industry'], drop_first=True)

# Prepare the independent variables (including industry dummies) and the dependent variable
X = pd.concat([df[['ranking', 'word_count']], industry_dummies], axis=1)
y = df['tone']

# Add a constant to the model (intercept)
X = sm.add_constant(X)

# Convert boolean dummy variables to int
for column in industry_dummies.columns:
    industry_dummies[column] = industry_dummies[column].astype(int)

# If you've already concatenated the dummy variables to X, convert them directly in X
for column in X.columns[2:]:  # Assuming the first two columns are 'const' and 'ranking'
    X[column] = X[column].astype(int)

# Now, X and y should be fully compatible with statsmodels
# Fit the OLS regression model again
model = sm.OLS(y, X).fit()

# Print the summary of the regression
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   tone   R-squared:                       0.277
Model:                            OLS   Adj. R-squared:                  0.099
Method:                 Least Squares   F-statistic:                     1.557
Date:                Fri, 01 Mar 2024   Prob (F-statistic):             0.0464
Time:                        02:36:49   Log-Likelihood:                 46.099
No. Observations:                 158   AIC:                            -28.20
Df Residuals:                     126   BIC:                             69.81
Df Model:                          31
Covariance Type:            nonrobust
=================================================================================================
                                    coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
const                             0.4457      0.117      3.803      0.000       0.214       0.678
ranking                       -8.632e-05      0.000     -0.539      0.591      -0.000       0.000
word_count                    -1.069e-06   8.24e-07     -1.297      0.197    -2.7e-06    5.62e-07
Automotives                      -0.1157      0.133     -0.870      0.386      -0.379       0.148
Banks                            -0.1690      0.122     -1.390      0.167      -0.410       0.072
Beauty                           -0.1076      0.147     -0.731      0.466      -0.399       0.184
Beverage                         -0.1141      0.127     -0.896      0.372      -0.366       0.138
Clothing & Fashion Brands        -0.2345      0.124     -1.891      0.061      -0.480       0.011
Clothing & Fashion Stores        -0.2335      0.127     -1.844      0.067      -0.484       0.017
Consumer Goods                   -0.0129      0.137     -0.094      0.925      -0.285       0.259
Digital                          -0.1505      0.133     -1.134      0.259      -0.413       0.112
E-commerce                       -0.2077      0.128     -1.626      0.107      -0.461       0.045
Electricity & Heating            -0.2734      0.180     -1.518      0.132      -0.630       0.083
Feul                             -0.3835      0.157     -2.444      0.016      -0.694      -0.073
Food                             -0.1153      0.118     -0.974      0.332      -0.350       0.119
Furniture                        -0.1736      0.147     -1.182      0.240      -0.464       0.117
Gambling                         -0.0853      0.226     -0.377      0.707      -0.533       0.363
Grocery Stores                   -0.4995      0.186     -2.685      0.008      -0.868      -0.131
Healthcare Providers             -0.0832      0.178     -0.467      0.641      -0.436       0.269
Hobby & Leisure                  -0.3127      0.130     -2.397      0.018      -0.571      -0.055
Home Appliances & Electronics    -0.1862      0.121     -1.535      0.127      -0.426       0.054
Hotels                            0.0112      0.178      0.063      0.950      -0.341       0.364
Insurance                        -0.1705      0.161     -1.058      0.292      -0.490       0.148
Parcel & Logistics               -0.3695      0.144     -2.557      0.012      -0.655      -0.084
Pensions                         -0.6996      0.227     -3.076      0.003      -1.150      -0.250
Real Estate                      -0.1420      0.226     -0.628      0.531      -0.590       0.306
Restaurants                       0.0758      0.148      0.512      0.610      -0.217       0.369
Telecommunications               -0.1913      0.229     -0.835      0.405      -0.645       0.262
Tobacco                          -0.4266      0.226     -1.885      0.062      -0.874       0.021
Transport                        -0.2332      0.124     -1.884      0.062      -0.478       0.012
Travel & Tourism                 -0.1931      0.129     -1.501      0.136      -0.448       0.061
Vehicle Inspection               -0.4426      0.227     -1.951      0.053      -0.892       0.006
==============================================================================
Omnibus:                        1.956   Durbin-Watson:                   2.288
Prob(Omnibus):                  0.376   Jarque-Bera (JB):                1.614
Skew:                          -0.098   Prob(JB):                        0.446
Kurtosis:                       3.455   Cond. No.                     1.29e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.29e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

In [7]:
# Assuming df is your DataFrame loaded from the CSV file
# Assuming 'ranking' and 'tone' have already been calculated and are present in df

# Convert 'ranking' to numeric, handling any non-numeric values as NaN
df['ranking'] = pd.to_numeric(df['ranking'], errors='coerce')

# Prepare the independent variable ('ranking') and the dependent variable ('tone')
X = df[['ranking']]
y = df['tone']

# Add a constant to the model (intercept)
X = sm.add_constant(X)

# Fit the OLS regression model
model = sm.OLS(y, X).fit()

# Print the summary of the regression
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   tone   R-squared:                       0.002
Model:                            OLS   Adj. R-squared:                 -0.005
Method:                 Least Squares   F-statistic:                    0.2775
Date:                Fri, 01 Mar 2024   Prob (F-statistic):              0.599
Time:                        02:36:53   Log-Likelihood:                 20.616
No. Observations:                 158   AIC:                            -37.23
Df Residuals:                     156   BIC:                            -31.11
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.2359      0.035      6.680      0.000       0.166       0.306
ranking    -7.536e-05      0.000     -0.527      0.599      -0.000       0.000
==============================================================================
Omnibus:                        0.664   Durbin-Watson:                   1.831
Prob(Omnibus):                  0.718   Jarque-Bera (JB):                0.325
Skew:                          -0.009   Prob(JB):                        0.850
Kurtosis:                       3.221   Cond. No.                         513.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
# Comment Jonas